@media (max-width: 1199px) {

  main {
    padding: 0 40px;
  }

  .header {
    .header__menu {
      margin: 4vw 40px 0 40px;

      a {
        font-size: 1.8vw;
      }
    }
  }

  .btn {
    height: 5vw;
    min-height: 50px;
    max-width: 470px;
    font-size: 1rem;
    border-radius: 50px;
    padding: 2vw 5vw;
  }

  .scroll-x {
    .text-top {
      font-size: 0.7rem;
    }

    .text-bottom {
      font-size: 1.4vw;
    }

    h3 {
      font-size: 2vw;
    }

    p {
      font-size: 1.8vw;
    }

    .link {
      font-size: 1.8vw;
    }
  }

  .section {
    margin-top: 5.1vw;
  }

  .hero {
    margin-top: 0;

    .content-box {
      padding: 10vw 3.7vw 40px 3.7vw;
      border-radius: 1.9vw;
      margin-top: 27px;
    }

    h1 {
      letter-spacing: -0.025vw;
      text-transform: none;
      font-size: 1.65vw;
      font-weight: normal;
    }

    h2 {
      font-size: 4vw;
      text-align: left;
      letter-spacing: 0.015vw;
    }

    ul {
      margin-top: 3vw;
      margin-bottom: 1vw;
    }

    li {
      margin-bottom: 7px;
      letter-spacing: -0.5px;
      font-size: 1.65vw;
    }

    .left-block {
      flex-basis: 48%;

      .btn-group {
        margin-top: 6.5vw;
      }
    }

    .right-block {
      flex-basis: 51%;

      .btn-group {
        display: none;
      }
    }

    .rotation-slider {
      display: flex;
      justify-content: center;
      margin: 0;
      border-radius: 20px;
      min-height: 100%;
    }

    .advantages {
      display: flex;
      width: 100%;
      padding-top: 8px;
      gap: 8px;

      .item {
        display: flex;
        width: 25%;
        height: 5rem;
        background-color: var(--secondary-color);
        border-radius: 1rem;
      }

      .item:nth-child(1) .img {
        background-image: url(../img/star-dynamic-premium.png);
        width: 3.65rem;
      }

      .item:nth-child(2) .img {
        background-image: url(../img/explorer-dynamic-premium.png);
        width: 3.9rem;
      }

      .item:nth-child(3) .img {
        background-image: url(../img/computer-dynamic-premium.png);
        width: 4.5rem;
      }

      .item:nth-child(4) .img {
        background-image: url(../img/picture-dynamic-premium.png);
        width: 6.5rem;
      }

      .item div:nth-child(2) {
        padding-top: 0.85rem;
      }

      .item .title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      .item p {
        font-size: 0.7rem;
        margin-top: 5px;
        letter-spacing: -0.0014rem;
      }
    }
  }

  .section {
    .section_title {
      h2 {
        font-size: 3vw;
      }

      h3 {
        font-size: 2vw;
      }
    }
  }

  .all-courses {
    .all-courses__card {
      width: 30vw;
      min-width: 370px;
    }
  }

  .passage1 {
    .progress-bar-slider-container {
      width: 30vw;
    }

    .progress-bar-slider-slide {
      padding: 20px 12px;

      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }

  #why-us {

    .left-block {
      h4 {
        font-size: 1.2rem;
      }

      ul {
        font-size: 1.2rem;
        max-width: 100%;
        margin-left: 15px;
        margin-bottom: 1.3rem;
      }
    }

    p {
      font-size: 1.2rem;
    }

    .lessons {
      .flex-container {
        justify-content: flex-start;
      }
    }
  }

  [data-page="visualization"] {
    & .hero {
      .hero-img {
        width: 38vw;
      }
    }

    & .gallery-section {
      & .gallery-item {
        p {
          font-size: 1.8vw;
        }
      }
    }
  }

  .become-3d-visualizer {

    h3 {
      font-size: 2vw;
    }

  }

  .course-target-audience {
    padding: 2.5rem 0;
    padding-bottom: 10vw;

    .grid-container .item {
      .live-photo {
        max-width: 20vw;
      }

      .live-photo-wrap::before {
        border: 2px solid #efefef;
        top: 6%;
        left: 10%;
      }

      .live-photo-icon {
        max-width: 8vw;
      }

      p {
        font-size: 1.8vw;
        margin-top: 3vw;
        max-width: 100%;
      }
    }

    .banner {
      border-radius: 16px;
      padding: 2vw;
      bottom: -5%;

      p {
        font-size: 1.8vw;
        text-align: left;
        padding-bottom: 7px;
        letter-spacing: initial;
      }

      .btn {
        font-size: 2vw;
        width: 30%;
      }
    }
  }

}


@media (max-width: 768px) {

  h3 {
    max-width: 100%;
  }

  .hidden-mobile {
    display: none !important;
  }

  .visible-mobile {
    display: flex !important;
  }

  main {
    padding: 0 16px;
  }

  .content-box {
    flex-direction: column;
  }

  .section {
    .section_title {
      h2 {
        font-size: 5vw;
      }

      h3 {
        margin-top: 24px;
        font-size: 3vw;
      }
    }
  }

  .scroll-x {
    overflow-x: scroll;
    gap: 12px;

    .top {
      height: 177px;
    }

    .block {
      flex: 0 0 97%;
      width: auto;
      min-width: 280px;
      max-width: 45%;
    }

    .text-top {
      font-size: 0.86rem;
    }

    .text-bottom {
      font-size: 1rem;
      letter-spacing: -0.05rem;
      bottom: 6%;
      left: 4%;
      padding: 2%;
    }

    .content {
      padding: 15px 5% 28px 5%;
    }

    h3 {
      font-size: 20px;
      letter-spacing: -0.05rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 23px;
      line-height: 1.2;
    }

    .link {
      font-size: 1rem;
    }
  }

  .shape {
    border-radius: 1rem;
  }

  .content-box.horizontal-scroll {
    flex-direction: row;
    gap: 16px;
  }

  .left-block,
  .right-block {
    flex-basis: 100%;
    height: auto;
  }

  .header {
    .header__menu {
      margin: 0 16px;
      padding: 16px 0;
      background-color: #fff;
      border-radius: 0;
    }

    & .logo img {
      height: 23.78px;
      width: 38px;
    }
  }

  .header .menu,
  .cta-button {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .btn-group {
    justify-content: center;
    align-items: center;
    margin-top: 34px;
  }

  .btn {
    width: 100%;
    padding: 13px 8px;
  }

  .section,
  .section.shape.passage .flex-container {
    flex-direction: column;
  }

  .passage1 {

    #simple-slider-2 {
      h3 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }

    .flex-container {
      flex-direction: column;
    }

    .left-block,
    .right-block {
      flex: 0 0 100%;
    }

    .section_title {
      h3 {
        font-size: 14px;
      }
    }
  }

  #passage2 {
    background-image: url(../img/map-mobile.jpg);
    background-position: bottom;

    .btn.visible-mobile {
      margin-top: 25vh;
    }
  }

  .hero {
    padding-top: 0;
    margin-top: 60px;

    h1 {
      letter-spacing: normal;
      text-align: center;
      font-size: 1.1rem;
      margin-top: 29px;
    }

    h2 {
      font-size: 5vw;
      text-align: center;
    }

    li {
      font-size: 3vw;
      justify-content: center;
    }

    .content-box {
      margin-top: 0;
      padding: 0 5vw;
      border-radius: 20px;
    }

    .left-block,
    .right-block {
      flex: 0 0 100%;
    }

    .left-block {
      .btn-group {
        display: none;
      }
    }

    .right-block {
      height: auto;

      .btn-group {
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        .btn {
          max-width: 470px;
          min-height: 50px;
          border-radius: 25px;
        }
      }
    }

    .advantages {
      flex-wrap: wrap;

      .item {
        flex: 1 1 calc(50% - 10px);
      }
    }
  }

  #guarantees {
    h3 {
      max-width: 100%;
    }

    &.section.shape {
      padding: 22px 15px 30px 15px;
    }

    .title {
      span {
        font-size: 48.6px;
        margin-right: 0;
        margin-left: 0;
      }

      h2 {
        display: block;
        float: left;
      }
    }

    .content-box {
      gap: 40px;
    }

    .right-block {
      .flex-container {
        justify-content: center;
      }

      .flex-container:nth-child(3) {
        justify-content: center;
        margin-bottom: 9px;
      }

      .item {
        width: 17vw;
        height: 17vw;
        max-width: fit-content;
        max-height: fit-content;
        border-radius: 50%;
        overflow: hidden;

        &:not(:first-child) {
          margin-left: -10px;
        }
      }
    }
  }

  #why-us {
    .left-block {
      .flex-container {
        max-width: 100%;
      }
    }
  }

  #tab-section {
    padding: 2rem 1rem;
  }

  #privilege {
    .content-box {
      flex-direction: column-reverse;
    }

    .privilege__item {
      align-items: start;
      font-size: 1rem;

      span {
        line-height: 1;
      }
    }
  }

  .scrollable-card .img {
    max-width: 100%;
  }

  .video-link {
    font-size: 1rem;

    img {
      height: 40px;
      width: 40px;
      margin-right: 8px;
    }
  }

  #reviews {
    .content-box {
      width: 100%;
    }
  }

  [data-page="visualization"] {
    & .hero {
      .hero-img {
        position: initial;
        margin: 0 auto;
        width: 80vw;
      }
    }

  }
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: flex !important;
  }

  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .section {
    margin-top: 60px;

    .section_title {
      h2 {
        text-align: left;
        font-size: 24px;
      }

      h3 {
        text-align: left;
        font-size: 14px;
      }
    }
  }

  .section.shape {
    padding: 28px 14px;
    border-radius: 20px;
  }

  .section.shape.passage {
    flex-direction: column;
    padding: 30px 14px;

    h2 {
      font-size: 20px;
      text-align: center;
    }

    h3 {
      text-align: center;
      font-size: 1rem;
    }
  }

  .content-box,
  .grid-container {
    margin-top: 24px;
  }

  .grid-2-1,
  .grid-3-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-4-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
  }

  .scroll-x {
    overflow-x: scroll;

    .block {
      border-radius: 12px;
    }
  }

  #thanks-popup {
    .popup {
      padding: 14px;

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
        margin-top: 24px;
        text-align: center;
      }

      .content-box {
        margin-top: 25px;
      }
    }
  }

  h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 1.1;
    margin: 0;
  }

  h2 {
    font-size: 1.714rem;
    text-align: center;
    letter-spacing: 0;
    margin-bottom: 0;
    line-height: 2.05rem;
  }

  h3 {
    font-size: 1.43rem;
    margin: 0;
    max-width: 100%;
  }

  h4 {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  ul {
    text-align: center;
  }

  .btn {
    height: 50px;
    border-radius: 25px;
    padding: 13px 4px;
    margin-top: 34px;
  }

  .scrollable-card {
    width: 100%;
  }

  .passage1 {
    #simple-slider-2 {
      h3 {
        font-size: 14px;
      }

      p {
        font-size: 14px;
      }

      .simple-slider-controls {
        top: calc(100% + 16px);
        width: 92px;

        .simple-slider-arrow {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  #passage2 {
    margin-top: 106px;
  }

  .hero {

    h1 {
      font-size: 1rem;
    }

    h2 {
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: normal;
      margin-top: 16px;
      margin-inline: -5px;
    }

    .right-block {
      margin-top: 0;
    }

    .content-box {
      gap: 16px;
      padding: 0 12px;
    }

    ul {
      margin-top: 16px;
      margin-left: 11px;

      li {
        letter-spacing: normal;
        margin-bottom: 7px;
        justify-content: center;
        font-size: 14px;

        &::before {
          margin-right: 8px;
        }
      }
    }

    .advantages {
      .item {
        flex: 1 1 100%;
        height: 80px;
        border-radius: 16px;
        padding: 10px;
      }

      .item:nth-child(1) .img {
        width: 5.65rem;
        transform: scale(1) translate(-5px, 2px);
      }

      .item:nth-child(2) .img {
        width: 5.9rem;
        transform: scale(1) translate(-2px, 2px);
      }

      .item:nth-child(3) .img {
        width: 5.5rem;
        transform: scale(1) translate(-2px, 2px);
      }

      .item:nth-child(4) .img {
        width: 5.5rem;
        transform: scale(1) translate(-2px, 2px);
      }
    }
  }

  #about-us {
    .content-box {
      margin-top: 25px;
      gap: 15px;
    }

    p {
      line-height: 1.2;
    }

    .right-block {
      .shape {
        height: 74px;
        border-radius: 12px;
        padding: 15px 5px;

        .count {
          font-size: 24px;
        }
      }

      .about-us__logo {
        width: 63.55px;
        height: 38.33px;
      }

      p {
        font-size: 12px;
        line-height: 1.1;
      }
    }

    .slogan {
      margin-top: 29px;
      padding: 12px;
      border-radius: 16px;

      .slogan__icon {
        width: 50px;
        height: 50px;
        top: -14px;
        left: -20px;
      }

      p {
        font-size: 14px;
        line-height: 16.8px;
      }
    }

    .item {
      width: 100%;
    }
  }

  .all-courses {
    h2 {
      width: 100%;
      text-align: left;
    }

    .all-courses__card {
      padding: 25px 14px 20px 14px;
      min-width: 280px;

      .video-background,
      img {
        width: 250px;
        height: 160px;
      }

      h4 {
        font-size: 18px;
      }

      p {
        font-size: 1rem;
        line-height: 1.2;
        margin: 12px 0;

      }

      .btn {
        font-size: 14px;
      }
    }
  }

  #guarantees {
    .title {
      margin-bottom: 1.2rem;

      h2 {
        text-align: left;
        line-height: 1.2;
        letter-spacing: -0.016rem;
      }

      span {
        letter-spacing: -0.16rem;
      }
    }

    h3 {
      margin-left: -12px;
      margin-right: -12px;
      letter-spacing: -0.02rem;
      line-height: 1.55rem;
      max-width: 108%;
    }

    .simple-slider-indicators {
      bottom: -17px;

      .simple-slider-indicator {
        width: 6px;
        height: 6px;
      }
    }

    .right-block {
      h3 {
        font-size: 1rem;
        margin-top: 3px;
        margin-bottom: 14px;
      }
    }

    .left-block {
      height: auto;
    }
  }

  #why-us {
    h2 {
      text-align: left;
    }

    .title {
      font-weight: bold;
      margin-top: 1.8rem;
      letter-spacing: -0.15px;
      line-height: 1.2;
    }

    .content-box {
      margin-top: 32px;
      gap: 20px;
    }

    .left-block {
      height: auto;
      padding: 1.3rem 1rem 2.2rem 1rem;

      .flex-container {
        justify-content: flex-start;
      }

      img {
        transform: translateX(-8px);
        width: 3.2rem;
      }

      h3 {
        font-size: 1.43rem;
        margin-top: 0;
      }

      ul {
        font-size: 1rem;
        text-align: left;
        margin-left: 8px;
        margin-top: 10px;

        li {
          margin-bottom: 0;
        }
      }

      h4 {
        text-transform: none;
        max-width: 75%;
      }
    }

    .right-block {
      gap: 20px;
    }

    .lessons {
      flex-direction: column;
      padding: 1.35rem 1rem 1.7rem 1rem;

      p {
        font-size: 1rem;
        letter-spacing: -0.5px;
        line-height: 1.2;
      }
    }

    & .practice {
      padding: 1.3rem 1.1rem;

      p {
        font-size: 1rem;
        line-height: 1.15;
        width: 90%;
      }

      img {
        width: 70px;
        bottom: -12px;
        right: -3px;
      }
    }
  }

  #tab-section {
    height: auto;

    h2 {
      text-align: center;
    }

    .tab-buttons {
      background-color: transparent;
    }
  }

  #privilege {
    h2 {
      margin-inline: -5px;
      text-align: center;
    }

    h3 {
      text-align: center;
      font-size: 16px;
    }

    .section_title {
      h3 {
        margin-top: 7px;
        font-size: 16px;
      }
    }

    .right-block {
      width: 100%;
    }

    .btn {
      display: none;
    }
  }

  #for-whom {
    .content-box {
      gap: 12px;
    }

    .for-whom__card {
      height: 370px;
      width: 280px;
      border-radius: 12px;
    }

    .for-whom__card__top {
      width: 280px;
      height: 177px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;

      .course-name {
        font-size: 12px;
      }

      .shape {
        padding: 6px;

        p {
          font-size: 14px;
        }
      }
    }

    .for-whom__card__bottom {
      height: 177px;
      width: 280px;
      padding: 14px;

      h3 {
        font-size: 1.43rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        font-size: 14px;
      }
    }
  }

  .scrollable-card {
    max-width: 280px;
    border-radius: 12px;
  }

  .scrollable-card .img {
    height: 143px;
    margin-bottom: 12px;
  }

  .scrollable-card h3 {
    font-size: 16px;
  }

  #reviews {
    .title-with-rating {
      flex-direction: column;
      align-items: start;
    }

    .star-rating {
      margin-top: 1rem;
    }
  }

  [data-page="visualization"] {
    & .gallery-section {
      & .gallery-item {
        &:hover {
          transform: scale(1);
        }

        p {
          font-size: 5vw;
        }
      }
    }
  }

  .become-3d-visualizer {

    h3 {
      font-size: 14px;
    }

  }

  .gallery-of-mentors {
    .scrollable-card .img {
      height: initial;
    }
  }

  .course-target-audience {
    padding: 30px 14px;
    padding-bottom: 127px;
    margin-bottom: 110px;
    border-radius: 20px;

    .section_title {
      h2 {
        text-align: center;
      }
    }

    .grid-container .item {
      .live-photo {
        max-width: 40vw;
      }

      .live-photo-wrap::before {
        border: 2px solid #efefef;
      }

      .live-photo-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 45px;
        height: auto;
      }

      p {
        font-size: 14px;
      }
    }

    .banner {
      flex-direction: column;
      border-radius: 16px;
      padding: 12px 10px;
      bottom: -5%;

      p {
        font-size: 14px;
        text-align: center;
        padding-bottom: 7px;
        letter-spacing: initial;
      }

      .btn {
        margin-top: 13px;
        width: 100%;
        font-size: 14px;
      }
    }
  }

  .footer {
    .flex-container {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }
}