.slider-container {
  position: relative;
  width: 100%;
  max-width: 900px;
}

.info-block {
  position: absolute;
  top: 16%;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;

  .link-icon {
    width: 23px;
    height: auto;
    margin-right: 6px;
  }
}

.info-block #card-title {
  margin-top: 0.5rem;
  font-size: 1.7em;
  font-weight: bold;
  opacity: 1;
}

.info-block p {
  font-size: 0.9em;
  color: #555;
  margin-top: 0.3rem;
  opacity: 1;
}

.info-block a {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  opacity: 1;
}

.rotation-slider__slider {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}

.rotation-slider-controls {
  width: 94%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 24.5%;
  left: 3%;
  z-index: 10;
  padding-inline: 3.5rem;

  button {
    border: none;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;


    img {
      width: 25px;
      height: 25px;
    }
  }

  button :hover {
    background: var(--primary-color);
    transition: background 0.3s ease-in-out;
  }
}

.card {
  position: absolute;
  width: 14vw;
  max-width: 157px;
  height: 21vw;
  max-height: 257px;
  transform-origin: center bottom;
  transition: all 0.5s ease;
  box-shadow: 0 5px 23px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Центральна картка */
.card.active {
  transform: translateX(0) rotate(0deg) scale(1.1);
  z-index: 10;
  filter: brightness(1);
  transition: filter 1s ease, transform 1s ease;
}

/* Лівая та права групи карток */
.card.left-1 {
  transform: translateX(-76px) translateY(10px) rotate(-8deg) scale(1);
  z-index: 9;
  filter: brightness(0.8);
  transition: filter 1s ease, transform 1s ease;
}

.card.left-2 {
  transform: translateX(-146px) translateY(50px) rotate(-9deg) scale(0.9);
  z-index: 8;
  filter: brightness(0.6);
  transition: filter 1s ease, transform 1s ease;
}

.card.right-1 {
  transform: translateX(76px) translateY(10px) rotate(8deg) scale(1);
  z-index: 9;
  filter: brightness(0.8);
  transition: filter 1s ease, transform 1s ease;
}

.card.right-2 {
  transform: translateX(146px) translateY(50px) rotate(9deg) scale(0.9);
  z-index: 8;
  filter: brightness(0.6);
  transition: filter 1s ease, transform 1s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
  #hero {

    .slider-container {
      max-width: 470px;
    }

    .rotation-slider {
      display: flex;
      justify-content: center;
      margin: 0;
      border-radius: 20px;
      height: 50vh;
      min-height: 257px;
    }

    .rotation-slider__slider {
      height: 50vh;
      min-height: 257px;
    }

    .card {
      width: 100%;
      height: 100%;
      max-width: 120px;
      max-height: 200px;
    }
  }
}


/* Збільшення перекриття на мобільних */
@media (max-width: 480px) {
  #hero {
    .rotation-slider {
      height: 30vh;
      min-height: 257px;

      .info-block {
        top: 40px;

        .card-title {
          font-size: 14px;
        }

        p {
          font-size: 8px;
        }
      }

      .info-block #card-title {
        margin-top: 3px;
        font-size: 1rem;
      }

      .rotation-slider__slider {
        height: 30vh;
        max-height: 257px;

      }

      .slider-controls {
        top: 60px;
      }
    }

    .card {
      position: absolute;
      width: 5.5rem;
      height: 8.72rem;
      border-radius: 6px;
    }

    .card.left-1 {
      transform: translateX(-15vw) rotate(-8deg) scale(1);
    }

    .card.left-2 {
      transform: translate(-25vw, 15px) rotate(-9deg) scale(0.9);
    }

    .card.right-1 {
      transform: translateX(15vw) rotate(8deg) scale(1);
    }

    .card.right-2 {
      transform: translate(25vw, 15px) rotate(9deg) scale(0.9);
    }

    .card.active {
      scale: 1;
    }

    .rotation-slider-controls {
      top: 23%;
      width: 100%;
      left: 0;
      padding-inline: 10%;

      button {
        img {
          width: 15px;
          height: 15px;
        }
      }
    }

    .info-block {
      .link-icon {
        width: 11px;
        height: 11px;
        margin-right: 6px;
      }
    }

    .info-block a {
      font-size: 10px;
    }
  }
}